Source: libtext-ansi-util-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Laurent Baillet <laurent.baillet@gmail.com>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libdata-dump-perl <!nocheck>,
                     libscalar-list-utils-perl (>= 1:1.55) <!nocheck>,
                     perl
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libtext-ansi-util-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libtext-ansi-util-perl.git
Homepage: https://metacpan.org/release/Text-ANSI-Util
Rules-Requires-Root: no

Package: libtext-ansi-util-perl
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${perl:Depends},
         libscalar-list-utils-perl (>= 1:1.55)
Description: routines for text containing ANSI color codes
 Text::ANSI::Util provides routines for dealing with text that contains
 ANSI color codes, e.g. for determining its length/width (excluding the color
 codes), stripping the color codes, extracting the color codes, and so on.
